<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Homemade+Apple" />
    <style>
        h2 {
            font-family: "Brush Script MT", cursive;
            font-size: 30px; /* Increased from 14px to 16px */
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            line-height: 15.4px;
        }
    </style>
</head>
<body>
<div th:replace="~{Interfaces/index :: navbar}"></div>
<section class="vh-100"
         style="background-color: #FAD961; background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Cree votre Evenement</h2>

                            <form th:action="@{/addEvent}" method="post" th:object="${evenement}" class="row g-3" enctype="multipart/form-data">
                                <!-- success message -->
                                <div th:if="${param.success}" class="alert alert-success col-12">
                                    You have added the event successfully
                                </div>
                                <div class="col-md-6">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="titre">Event Title</label>
                                        <input type="text" id="titre" th:field="*{titre}" class="form-control form-control-lg" placeholder="Event Title">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}"></p>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="dateEvenement">Event Date</label>
                                        <input type="date" id="dateEvenement" th:field="*{dateEvenement}" class="form-control form-control-lg" placeholder="Event Date">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('dateEvenement')}" th:errors="*{dateEvenement}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="typeEvenement">Event Type</label>
                                        <select id="typeEvenement" th:field="*{typeEvenement}" class="form-select form-select-lg">
                                            <option value="" disabled selected>Sélectionnez le type d'événement</option>
                                            <option value="Concert">Concert</option>
                                            <option value="Festival">Festival</option>
                                            <option value="Théâtre">Théâtre</option>
                                            <option value="Cinéma">Cinéma</option>
                                            <option value="Spectacle">Spectacle</option>
                                            <option value="Match">Match</option>
                                            <option value="Conférence avec billets">Conférence avec billets</option>
                                            <option value="Salon avec billets">Salon avec billets</option>
                                        </select>
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('typeEvenement')}" th:errors="*{typeEvenement}"></p>
                                    </div>
                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="description">Event Description</label>
                                    <textarea id="description" th:field="*{description}" class="form-control form-control-lg" placeholder="taper votre Description d'evenement"></textarea>
                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="photo">Event Photo</label>
                                    <input type="file" id="photo" name="photo" class="form-control form-control-lg">
                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></p>
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-block btn-lg" style="background-color: #F76B1C; color: #FFFFFF;">Add Event</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>