<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{Interfaces/index :: navbar}"></div>
<section class="vh-100"
         style="background-color: #FAD961; background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Change Password</h2>

                            <form th:action="@{/resetPassword}" method="post" th:object="${user}">

                                <div th:if="${error}" class="alert alert-danger" role="alert">
                                    <p th:text="${error}"></p>
                                </div>
                                <div th:if="${success}" class="alert alert-success" role="alert">
                                    <p th:text="${success}"></p>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="oldPassword">Old Password</label>
                                    <input name="oldPassword" type="password" id="oldPassword" class="form-control form-control-lg" placeholder="Entrer Old Password">
                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="NewPassword">New Password</label>
                                    <input name="newPassword" type="password" id="NewPassword" class="form-control form-control-lg" placeholder="Entrer New Password">
                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="RepeatPassword">Repeat Password</label>
                                    <input name="confirmPassword" type="password" id="RepeatPassword" class="form-control form-control-lg" placeholder="Repeter Password">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById('resetPasswordButton').addEventListener('click', function() {
        const oldPassword = document.getElementById('oldPassword').value;
        const newPassword = document.getElementById('NewPassword').value;
        const confirmPassword = document.getElementById('RepeatPassword').value;
        const username = document.getElementById('Username').value;

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/resetPassword", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                alert("Password has been reset successfully");
            }
        }
        xhr.send("oldPassword=" + oldPassword + "&newPassword=" + newPassword + "&confirmPassword=" + confirmPassword + "&username=" + username);
    });
</script>
</body>
</html>